header {
  background-color: #de1717;
  color: #fff;
  padding: 10px; }

.logo {
  font-size: 24px;
  font-weight: bold; }

.navbar {
  margin-top: 10px; }

.nav-link {
  color: #fff;
  text-decoration: none;
  margin-right: 10px; }
