<div>

    <h1>hi <%= comment.user.name %> </h1>
    <br>
    <br>
    <p> Your comment  <strong style="color: red;"> <%= comment.content %> </strong> just got published on codeial.com</p>
    <br>
    <br>
    <p> Thanks for choosing our website </p>
</div>